@font-face{
	src: url('GothaProBla.otf');
	font-family: 'Gotham Pro';
	font-weight: 600;
}
@font-face{
	src: url('GothaProBlaIta.otf');
	font-family: 'Gotham Pro';
	font-weight: 600;
	font-style: italic;
}
@font-face{
	src: url('GothaProBol.otf');
	font-family: 'Gotham Pro';
	font-weight: 500;
}
@font-face{
	src: url('GothaProBolIta.otf');
	font-family: 'Gotham Pro';
	font-weight: 500;
	font-style: italic;
}
@font-face{
	src: url('GothaProLig.otf');
	font-family: 'Gotham Pro';
	font-weight: 100;
}
@font-face{
	src: url('GothaProLigIta.otf');
	font-family: 'Gotham Pro';
	font-weight: 100;
	font-style: italic;
}
@font-face{
	src: url('GothaProMed.otf');
	font-family: 'Gotham Pro';
	font-weight: 300;
}
@font-face{
	src: url('GothaProMedIta.otf');
	font-family: 'Gotham Pro';
	font-weight: 300;
	font-style: italic;
}
@font-face{
	src: url('GothaProReg.otf');
	font-family: 'Gotham Pro';
	font-weight: 200;
}
@font-face{
	src: url('GothaProIta.otf');
	font-family: 'Gotham Pro';
	font-weight: 200;
	font-style: italic;
}
@font-face{
	src: url('GothaProNarBol.otf');
	font-family: 'Gotham Pro Nar';
	font-weight: 400;
}
@font-face{
	src: url('GothaProNarMed.otf');
	font-family: 'Gotham Pro Nar';
	font-weight: 300;
	font-style: italic;
}